Test-Command: python3 tests/integration/run.py --test=ethernets
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=ethernets

Test-Command: python3 tests/integration/run.py --test=bridges
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=bridges

Test-Command: python3 tests/integration/run.py --test=bonds
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=bonds

Test-Command: python3 tests/integration/run.py --test=routing
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=routing

Test-Command: python3 tests/integration/run.py --test=vlans
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=vlans

Test-Command: python3 tests/integration/run.py --test=wifi
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=wifi

Test-Command: python3 tests/integration/run.py --test=tunnels
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=tunnels

Test-Command: python3 tests/integration/run.py --test=scenarios
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=scenarios

Test-Command: python3 tests/integration/run.py --test=regressions
Tests-Directory: tests/integration
Depends: @,
  systemd,
  network-manager,
  hostapd,
  dnsmasq-base,
Restrictions: allow-stderr, needs-root, isolation-machine
Features: test-name=regressions

Tests: autostart
Restrictions: allow-stderr, needs-root, isolation-container
