name: Build & ABI compatibility

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Speed up apt installation on the host
      - uses: firebuild/apt-eatmydata-action@v1
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Installs the build dependencies
      # Always include phased updates (LP: #1979244)
      - name: Install build depends
        run: |
          echo "APT::Get::Always-Include-Phased-Updates \"true\";" | sudo tee /etc/apt/apt.conf.d/90phased-updates
          sudo apt update
          sudo apt install abigail-tools ubuntu-dev-tools devscripts equivs
          pull-lp-source netplan.io
          mk-build-deps -i -B -s sudo netplan.io-*/debian/control

      # Runs the build
      - name: Run build
        run: |
          meson setup _build -Dunit_testing=false --prefix=/usr
          meson compile -C _build

      # Abigail ABI checker
      - name: Check ABI compatibility
        run: |
          abidiff abi-compat/noble_1.1.xml _build/src/libnetplan.so.1 --headers-dir2 include/ --header-file2 src/abi.h --suppressions abi-compat/suppressions.abignore --no-added-syms
