name: RPM build

on:
  push:
    branches: [ main, 'stable/**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  rpm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - fedora:latest
          # - fedora:rawhide
          - rockylinux:9
    container:
      image: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v2
      - name: Build & Test
        run: |
          cat /etc/os-release
          dnf -y install dnf-plugins-core rpmdevtools  # for 'dnf builddep'
          dnf -y install epel-release || true
          dnf config-manager --set-enabled crb || true  # Meson/CMocka on EL9
          dnf -y install centos-release-nfv-openvswitch || true  # OVS on EL9
          dnf -y builddep rpm/netplan.spec
          adduser test
          chown -R test:test .
          su test -c 'rpmbuild -bi --build-in-place rpm/netplan.spec'
